p{
    font-family: Arial;
    margin-top: 0;
    margin-bottom: 0;
}
.video-title{
    font-size: 18px;
    font-weight: bold;
    width: 280px;
    line-height: 25px;
    margin-bottom: 5px;
    }
.video-stats{
    font-size: 14px;
    color: rgb(90, 90, 90);
    margin-bottom: 15px;
}
.video-author
{
   font-size: 14px; 
   color:rgb(96, 96, 96);
   margin-top: 15px;
   margin-bottom: 15px;
}
.video-description{
    width: 280px;
    font-size: 14px;
    color: rgb(96, 96, 96);
    line-height: 22px;
    margin-bottom: 100px;
}
.apple-text{
    margin-bottom: 50px;
    font-size: 14px;
    background-color: rgb(277, 65, 64);
    color: white;
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
}
.shop-link{
    color: white;
    cursor: pointer;
}
.shop-link:hover{
    text-decoration: underline;
}